@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: grey;
  font-family: 'Roboto';
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  padding: 15px 0;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 22px;
          column-gap: 22px;
}

.header .navbar__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 11px;
          column-gap: 11px;
}

.header .navbar .nav__item {
  list-style: none;
}

.header .navbar .nav__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
